<div class="row">
	<div class="col">
		<% if logged_in? %>
			<% if current_user.username == "bulletin" %>
				<%= link_to "Generate NOIDs for the Bulletin Clippings Collection", bulletin_path, class: "public-access-link" %>
			<% else %>
				<ul>
					<li><%= link_to "Generate NOIDs", generators_path, style: "font-size: 150%;line-height: 2rem" %></li>
					<% if is_admin? %>
						<li><%= link_to "Manage Projects", projects_path, style: "font-size: 150%;line-height: 2rem" %></li>
					<% end %>
				</ul>
			<% end %>
		<% else %>
		<h2 style="margin-bottom: 35px;color: #666">Not logged in</h2> 
		<% end %>
	</div>
</div>
