*/tmp*
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.git
.gitignore
.gitattributes
.DS_Store
README.md
/Dockerfile
/spec
/env.*
/.bundle
.ruby-version
config/master.key
config/credentials.yml.enc
node_modules