<div class="row">
  <div class="col">
    <h1>Editing Generator</h1>
  </div>
</div>

<%= render 'form', generator: @generator %>

<div class="row">
  <div class="col">
    <%= link_to 'Show', @generator %> |
    <%= link_to 'Back', generators_path %>
  </div>
</div>
