 @import "bootstrap/scss/bootstrap";
 @import "bootstrap-icons/font/bootstrap-icons";

body {
	padding-top: 21px;
	background-color: #efefef;
}
.header.container {
	border-left: solid #555 1px;
	padding-left: 35px;
}
.yield.container {
	padding-top: 21px;
}
#header {
	border-bottom: solid #ccc 1px;
	padding-bottom: 14px;
}