@import "bootstrap/scss/bootstrap";

body {
	padding-top: 21px;
	background-color: #efefef;
}
.header.container {
	border-left: solid #555 1px;
	padding-left: 35px;
}
.yield.container {
	padding-top: 21px;
}
#header {
	border-bottom: solid #ccc 1px;
	padding-bottom: 14px;
}

.menu {
	position: relative;
}

.menu summary {
	list-style: none;
}

.menu summary::-webkit-details-marker {
	display: none;
}

.menu[open] .dropdown-menu {
	display: block;
}
